<h2>Christy Lemire</h2>
<p class="link"><a href=http://christylemire.com/hunger-games-catching-fire/>http://christylemire.com/hunger-games-catching-fire/</a></p>
<p class="data">Director Francis Lawrence's film runs nearly two-and-a-half hours but it concludes so abruptly and tantalizingly, it leaves you wanting more. </p>
<p class="rating">3/4</p>
<h2>Richard Roeper</h2>
<p class="link"><a href=http://www.richardroeper.com/reviews/hungergamescatchingfire.aspx>http://www.richardroeper.com/reviews/hungergamescatchingfire.aspx</a></p>
<p class="data">The budget is nearly twice the original, and it shows. Great work from the A-list cast, amazing set designs and costumes.</p>
<p class="rating">4.5/5</p>
<h2>Christopher Orr</h2>
<p class="link"><a href=http://www.theatlantic.com/entertainment/archive/2013/11/-em-catching-fire-em-a-leaner-hungrier-em-hunger-games-em/281747/>http://www.theatlantic.com/entertainment/archive/2013/11/-em-catching-fire-em-a-leaner-hungrier-em-hunger-games-em/281747/</a></p>
<p class="data">But now the violence is not merely physical, but existential. Far from having won her freedom as promised, Katniss is now imprisoned in a false public narrative—supporter of the Capitol, lover of Peeta—from which she may never escape</p>
<p class="rating">Full Review</p>
<h2>Lisa Kennedy</h2>
<p class="link"><a href=http://www.denverpost.com/movies/ci_24565725/hunger-games-catching-fire-review-making-revolutionary>http://www.denverpost.com/movies/ci_24565725/hunger-games-catching-fire-review-making-revolutionary</a></p>
<p class="data">"Catching Fire" delivers on the grim, roiling promises of the original</p>
<p class="rating">3.5/4</p>
<h2>Geoff Pevere</h2>
<p class="link"><a href=http://www.theglobeandmail.com/arts/film/film-reviews/new-hunger-games-movie-raises-the-stakes-sharply/article15534042/>http://www.theglobeandmail.com/arts/film/film-reviews/new-hunger-games-movie-raises-the-stakes-sharply/article15534042/</a></p>
<p class="data">takes the narrative and thematic liberties traditionally granted the middle chapter in a trilogy and drives the stakes up sharply.</p>
<p class="rating">3.5/4</p>
<h2>Bob Mondello</h2>
<p class="link"><a href=http://www.npr.org/2013/11/21/246139135/two-very-different-movies-two-heroines-with-spine?ft=1&f=1045>http://www.npr.org/2013/11/21/246139135/two-very-different-movies-two-heroines-with-spine?ft=1&f=1045</a></p>
<p class="data">Given the strength of this installment, I'd say the box-office odds continue to be, in that Hunger Games catchphrase, "ever in its favor."</p>
<p class="rating">Full Review</p>
<h2>Peter Rainer</h2>
<p class="link"><a href=http://www.csmonitor.com/The-Culture/Movies/2013/1121/The-Hunger-Games-Catching-Fire-is-even-better-than-the-first-film-video>http://www.csmonitor.com/The-Culture/Movies/2013/1121/The-Hunger-Games-Catching-Fire-is-even-better-than-the-first-film-video</a></p>
<p class="data">This second in the "Hunger Games" trilogy, directed by</p>
<p class="rating">B+</p>
<h2>Dana Stevens</h2>
<p class="link"><a href=http://www.slate.com/articles/arts/movies/2013/11/the_hunger_games_catching_fire_starring_jennifer_lawrence_reviewed.html>http://www.slate.com/articles/arts/movies/2013/11/the_hunger_games_catching_fire_starring_jennifer_lawrence_reviewed.html</a></p>
<p class="data">Though some of the chases and escapes are thrillingly filmed, this last section of the film feels indistinguishable from plenty of other video-game-style avoid-the-obstacle action climaxes.</p>
<p class="rating">Full Review</p>
<h2>David Denby</h2>
<p class="link"><a href=http://www.newyorker.com/arts/critics/cinema/2013/12/02/131202crci_cinema_denby>http://www.newyorker.com/arts/critics/cinema/2013/12/02/131202crci_cinema_denby</a></p>
<p class="data">The grand climax, whose elements include a long piece of wire, a lightning bolt, and an electronic force field, is an incoherent, rapid blur that will send the audience scurrying back to the book to find out what's supposed to be going on.</p>
<p class="rating">Full Review</p>
<h2>Joe Morgenstern</h2>
<p class="link"><a href=http://online.wsj.com/news/articles/SB10001424052702304791704579211843385144258>http://online.wsj.com/news/articles/SB10001424052702304791704579211843385144258</a></p>
<p class="data">Yet none of it would work—not the action, the adventure, the political subtext or the humor—without the strength and beauty that Ms. Lawrence brings to the central role.</p>
<p class="rating">Full Review</p>
<h2>Ian Buckwalter</h2>
<p class="link"><a href=http://www.npr.org/2013/11/21/246019699/catching-fire-the-hunger-games-now-with-real-heat?ft=1&f=1045>http://www.npr.org/2013/11/21/246019699/catching-fire-the-hunger-games-now-with-real-heat?ft=1&f=1045</a></p>
<p class="data">has been improved upon here.</p>
<p class="rating">7.5/10</p>
<h2>Colin Covert</h2>
<p class="link"><a href=http://www.startribune.com/entertainment/movies/232711611.html>http://www.startribune.com/entertainment/movies/232711611.html</a></p>
<p class="data">a smashing sci-fi sequel that takes its blockbuster franchise into deeper, smarter, more dramatically engaging territory.</p>
<p class="rating">4/4</p>
<h2>Joe Williams</h2>
<p class="link"><a href=http://www.stltoday.com/entertainment/movies/reviews/overlong-hunger-games-catching-fire-fizzles/article_e67818d4-1ae5-579a-a203-7c5c42f70125.html>http://www.stltoday.com/entertainment/movies/reviews/overlong-hunger-games-catching-fire-fizzles/article_e67818d4-1ae5-579a-a203-7c5c42f70125.html</a></p>
<p class="data">The ingredients are in place for a potent finale, but "Catching Fire" is watered down.</p>
<p class="rating">2.5/4</p>
<h2>Mick LaSalle</h2>
<p class="link"><a href=http://www.sfgate.com/entertainment/article/Hunger-Games-Catching-Fire-review-4998687.php>http://www.sfgate.com/entertainment/article/Hunger-Games-Catching-Fire-review-4998687.php</a></p>
<p class="data">is best in its first hour, when it concentrates on the politics and the specific horrors of Panem. It becomes more conventional in the second half and loses steam, but it's always heading somewhere.</p>
<p class="rating">3/4</p>
<h2>Manohla Dargis</h2>
<p class="link"><a href=http://www.nytimes.com/2013/11/22/movies/the-hunger-games-catching-fire-with-jennifer-lawrence.html?partner=rss&emc=rss&_r=0>http://www.nytimes.com/2013/11/22/movies/the-hunger-games-catching-fire-with-jennifer-lawrence.html?partner=rss&emc=rss&_r=0</a></p>
<p class="data">It's largely satisfying as far as screen adventures go, and comes fully loaded with special effects and action scenes, and embellished with the usual brand-name character actors ...</p>
<p class="rating">Full Review</p>
<h2>Ben Sachs</h2>
<p class="link"><a href=http://www.chicagoreader.com/chicago/the-hunger-games-catching-fire-the-imax-experience/Film?oid=11106811>http://www.chicagoreader.com/chicago/the-hunger-games-catching-fire-the-imax-experience/Film?oid=11106811</a></p>
<p class="data">this sequel is a triumph of production design: Philip Messina's settings are so detailed that they convey how the movie's dystopic U.S. functions beyond the story at hand, and Trish Summerville's costume design shows a similar degree of invention.</p>
<p class="rating">Full Review</p>
<h2>Tom Long</h2>
<p class="link"><a href=http://www.detroitnews.com/article/20131121/ENT02/311210018>http://www.detroitnews.com/article/20131121/ENT02/311210018</a></p>
<p class="data">An improvement in almost every way from its pretty decent predecessor.</p>
<p class="rating">B+</p>
<h2>Ann Hornaday</h2>
<p class="link"><a href=http://www.washingtonpost.com/goingoutguide/movies/the-hunger-games-catching-fire-movie-review-jennifer-lawrence-dominates-sequel/2013/11/20/3d06a9d6-511a-11e3-9e2c-e1d01116fd98_story.html>http://www.washingtonpost.com/goingoutguide/movies/the-hunger-games-catching-fire-movie-review-jennifer-lawrence-dominates-sequel/2013/11/20/3d06a9d6-511a-11e3-9e2c-e1d01116fd98_story.html</a></p>
<p class="data">a superlative advancement of the franchise. Director Francis Lawrence</p>
<p class="rating">Full Review</p>
<h2>Soren Anderson</h2>
<p class="link"><a href=http://seattletimes.com/html/entertainment/2022290920_catchingfirexml.html>http://seattletimes.com/html/entertainment/2022290920_catchingfirexml.html</a></p>
<p class="data">trilogy is a significant improvement on the movie that launched the franchise last year.</p>
<p class="rating">3.5/4</p>
<h2>Ty Burr</h2>
<p class="link"><a href=http://www.boston.com/ae/movies/2013/11/21/movie-review-catching-fire-sequel-that-soars-and-skewers-the-same-time/RoPTFSPnYRyxbQrDcEldCJ/story.html>http://www.boston.com/ae/movies/2013/11/21/movie-review-catching-fire-sequel-that-soars-and-skewers-the-same-time/RoPTFSPnYRyxbQrDcEldCJ/story.html</a></p>
<p class="data">Book's good. Movie's better. Wait, what?</p>
<p class="rating">3.5/4</p>
<h2>Peter Travers</h2>
<p class="link"><a href=http://www.rollingstone.com/movies/reviews/the-hunger-games-catching-fire-20131115>http://www.rollingstone.com/movies/reviews/the-hunger-games-catching-fire-20131115</a></p>
<p class="data">which builds on the box-office and critical success of last year's</p>
<p class="rating">3.5/4</p>
<h2>Peter Howell</h2>
<p class="link"><a href=http://www.thestar.com/entertainment/movies/2013/11/20/review_of_the_hunger_games_catching_fire_let_the_mind_games_begin.html>http://www.thestar.com/entertainment/movies/2013/11/20/review_of_the_hunger_games_catching_fire_let_the_mind_games_begin.html</a></p>
<p class="data">The stakes have gotten larger and also vastly more interesting, with the title games stretching from the battlefield into the mind.</p>
<p class="rating">3/4</p>
<h2>Andrew O'Hehir</h2>
<p class="link"><a href=http://www.salon.com/2013/11/21/the_hunger_games_catching_fire_whose_revolution_is_it/>http://www.salon.com/2013/11/21/the_hunger_games_catching_fire_whose_revolution_is_it/</a></p>
<p class="data">It's a middle chapter, for sure, but a vigorous and fast-paced one that leaves you hungry for more.</p>
<p class="rating">Full Review</p>
<h2>Claudia Puig</h2>
<p class="link"><a href=http://www.usatoday.com/story/life/movies/2013/11/20/hunger-games-catching-fire-review/2941345/>http://www.usatoday.com/story/life/movies/2013/11/20/hunger-games-catching-fire-review/2941345/</a></p>
<p class="data">is crowd-pleasing and compelling, most of all because of its fiery, charismatic heroine.</p>
<p class="rating">2.5/4</p>
<h2>Richard Corliss</h2>
<p class="link"><a href=http://entertainment.time.com/2013/11/20/catching-fire-slow-burn-with-a-sizzling-star/?iid=ent-main-lead>http://entertainment.time.com/2013/11/20/catching-fire-slow-burn-with-a-sizzling-star/?iid=ent-main-lead</a></p>
<p class="data">Spinning in that wedding dress, or glaring in wary repose, Lawrence catches fire on screen.</p>
<p class="rating">Full Review</p>
<h2>Bill Goodykoontz</h2>
<p class="link"><a href=http://www.azcentral.com/thingstodo/movies/articles/20131121hunger-games-catching-fire.html>http://www.azcentral.com/thingstodo/movies/articles/20131121hunger-games-catching-fire.html</a></p>
<p class="data">is a great leap forward for the franchise. Seeing as it</p>
<p class="rating">4/5</p>
<h2>Kenneth Turan</h2>
<p class="link"><a href=http://www.latimes.com/entertainment/movies/moviesnow/la-et-mn-hunger-games-catching-fire-20131121,0,6371408.story#axzz2lCTpTaPD>http://www.latimes.com/entertainment/movies/moviesnow/la-et-mn-hunger-games-catching-fire-20131121,0,6371408.story#axzz2lCTpTaPD</a></p>
<p class="data">An effective piece of melodramatic popular entertainment that savvily builds on the foundation established by the first</p>
<p class="rating">Full Review</p>
<h2>Rene Rodriguez</h2>
<p class="link"><a href=http://www.miami.com/039the-hunger-games-catching-fire039-pg-13-article>http://www.miami.com/039the-hunger-games-catching-fire039-pg-13-article</a></p>
<p class="data">is a work of thoughtful, emotionally engaging sci-fi — everything that its predecessor</p>
<p class="rating">3/4</p>
<h2>Owen Gleiberman</h2>
<p class="link"><a href=http://www.ew.com/ew/article/0,,20483133_20721951,00.html>http://www.ew.com/ew/article/0,,20483133_20721951,00.html</a></p>
<p class="data">is more energized than the first </p>
<p class="rating">B</p>
<h2>Rex Reed</h2>
<p class="link"><a href=http://observer.com/2013/11/up-in-smoke-catching-fire-second-installment-in-hunger-games-trilogy-is-a-tired-rehash/>http://observer.com/2013/11/up-in-smoke-catching-fire-second-installment-in-hunger-games-trilogy-is-a-tired-rehash/</a></p>
<p class="data">The jungle scenes were shot in Hawaii, so at least they all got a paid vacation.</p>
<p class="rating">2/4</p>
<h2>Jake Coyle</h2>
<p class="link"><a href=http://www.masslive.com/entertainment/index.ssf/2013/11/review_catching_fire_an_upgrad.html>http://www.masslive.com/entertainment/index.ssf/2013/11/review_catching_fire_an_upgrad.html</a></p>
<p class="data">with its cartoonish decadents, teenage Roman gladiators and theatrical allegory, would overwhelm most young actors.</p>
<p class="rating">Full Review</p>
<h2>Joe Neumaier</h2>
<p class="link"><a href=http://www.nydailynews.com/entertainment/tv-movies/hunger-games-catching-fire-movie-review-article-1.1521444>http://www.nydailynews.com/entertainment/tv-movies/hunger-games-catching-fire-movie-review-article-1.1521444</a></p>
<p class="data">The double, or even triple, meanings behind</p>
<p class="rating">4/5</p>
<h2>Michael Phillips</h2>
<p class="link"><a href=http://www.chicagotribune.com/entertainment/movies/chi-hunger-games-catching-fire-1122-20131118,0,3107407.column>http://www.chicagotribune.com/entertainment/movies/chi-hunger-games-catching-fire-1122-20131118,0,3107407.column</a></p>
<p class="data">an example of successful franchise installment delivery, on time and in sturdy condition.</p>
<p class="rating">3/4</p>
<h2>Rafer Guzman</h2>
<p class="link"><a href=http://www.newsday.com/entertainment/movies/the-hunger-games-catching-fire-review-sluggish-1.6465009>http://www.newsday.com/entertainment/movies/the-hunger-games-catching-fire-review-sluggish-1.6465009</a></p>
<p class="data">By definition, this sequel can't feel as fresh as the first movie</p>
<p class="rating">2.5/4</p>
<h2>Steven Rea</h2>
<p class="link"><a href=http://www.philly.com/philly/entertainment/movies/20131121__Hunger_Games__Catching_Fire__is_bigger__better__broodier.html>http://www.philly.com/philly/entertainment/movies/20131121__Hunger_Games__Catching_Fire__is_bigger__better__broodier.html</a></p>
<p class="data">Bigger, better and broodier than the first film.</p>
<p class="rating">3/4</p>
<h2>William Goss</h2>
<p class="link"><a href=http://www.film.com/movies/the-hunger-games-catching-fire-review>http://www.film.com/movies/the-hunger-games-catching-fire-review</a></p>
<p class="data">The most remarkable quality of the "Harry Potter" series on both page and screen was its growth from an episodic series of fairly interchangeable kiddie adventures into an evolving narrative of distinctly political and practical stakes.</p>
<p class="rating">Full Review</p>
<h2>Keith Uhlich</h2>
<p class="link"><a href=http://www.timeout.com/us/film/the-hunger-games-catching-fire-movie-review>http://www.timeout.com/us/film/the-hunger-games-catching-fire-movie-review</a></p>
<p class="data">put on their best game face, smooching plenty for the cameras</p>
<p class="rating">3/5</p>
<h2>Randy Myers</h2>
<p class="link"><a href=http://www.mercurynews.com/entertainment/ci_24554710/review-jennifer-lawrence-hits-target-hunger-games-catching?source=rss>http://www.mercurynews.com/entertainment/ci_24554710/review-jennifer-lawrence-hits-target-hunger-games-catching?source=rss</a></p>
<p class="data">One of this year's best and most thought-provoking blockbusters.</p>
<p class="rating">3.5/4</p>
<h2>Stephen Whitty</h2>
<p class="link"><a href=http://www.nj.com/entertainment/index.ssf/2013/11/the_hunger_games_catching_fire_review_a_blazing_katniss_returns.html>http://www.nj.com/entertainment/index.ssf/2013/11/the_hunger_games_catching_fire_review_a_blazing_katniss_returns.html</a></p>
<p class="data">assign roles to each episode. The first introduces </p>
<p class="rating">2.5/4</p>
<h2>Sara Stewart</h2>
<p class="link"><a href=http://nypost.com/2013/11/19/catching-fire-a-sizzling-sequel/>http://nypost.com/2013/11/19/catching-fire-a-sizzling-sequel/</a></p>
<p class="data">Yes, it's the middle chapter and feels like it, but it's never dull.</p>
<p class="rating">3/4</p>
<h2>James Berardinelli</h2>
<p class="link"><a href=http://www.reelviews.net/php_review_template.php?identifier=2691>http://www.reelviews.net/php_review_template.php?identifier=2691</a></p>
<p class="data">These novels and their movie adaptation offspring tell captivating stories that are in no way limited by their supposed target demographic.</p>
<p class="rating">3.5/4</p>
<h2>David Edelstein</h2>
<p class="link"><a href=http://www.vulture.com/2013/11/edelstein-reviews-hunger-games-catching-fire.html>http://www.vulture.com/2013/11/edelstein-reviews-hunger-games-catching-fire.html</a></p>
<p class="data">Collins takes the time and space to mourn the dead kids</p>
<p class="rating">Full Review</p>
<h2>Stephanie Zacharek</h2>
<p class="link"><a href=http://www.villagevoice.com/2013-11-13/film/the-hunger-games-catching-fire-movie-review/>http://www.villagevoice.com/2013-11-13/film/the-hunger-games-catching-fire-movie-review/</a></p>
<p class="data">It says something that two of the biggest sensations in young adult literature over the past 10 years have featured heroines who keep more than one guy on the line at a time.</p>
<p class="rating">Full Review</p>
<h2>Cath Clarke</h2>
<p class="link"><a href=http://www.timeout.com/london/film/the-hunger-games-catching-fire>http://www.timeout.com/london/film/the-hunger-games-catching-fire</a></p>
<p class="data">What are the odds</p>
<p class="rating">4/5</p>
<h2>Todd McCarthy</h2>
<p class="link"><a href=http://www.hollywoodreporter.com/movie/hunger-games-catching-fire/review/655231>http://www.hollywoodreporter.com/movie/hunger-games-catching-fire/review/655231</a></p>
<p class="data">A safe, serviceable, carefully crafted action drama in which the subversive seeds planted in the first story take welcome root.</p>
<p class="rating">Full Review</p>
<h2>Peter Debruge</h2>
<p class="link"><a href=http://variety.com/2013/film/reviews/film-review-the-hunger-games-catching-fire-1200820552/>http://variety.com/2013/film/reviews/film-review-the-hunger-games-catching-fire-1200820552/</a></p>
<p class="data">"Catching Fire" makes for rousing entertainment in its own right, leaving fans riled and ready to storm the castle.</p>
<p class="rating">Full Review</p>
<h2>Alonso Duralde</h2>
<p class="link"><a href=http://www.thewrap.com/hunger-games-catching-fire-review-jennifer-lawrence-katniss-everdeen>http://www.thewrap.com/hunger-games-catching-fire-review-jennifer-lawrence-katniss-everdeen</a></p>
<p class="data">Dismiss it as a popcorn movie if you must, but at least they've bothered to serve it with real butter and truffle salt.</p>
<p class="rating">Full Review</p>
<h2>Nancy Churnin</h2>
<p class="link"><a href=http://www.dallasnews.com/entertainment/movies/reviews/20131120-the-hunger-games-catching-fire-will-leave-fans-breathless-and-wanting-more-b.ece?nclick_check=1>http://www.dallasnews.com/entertainment/movies/reviews/20131120-the-hunger-games-catching-fire-will-leave-fans-breathless-and-wanting-more-b.ece?nclick_check=1</a></p>
<p class="data">Do your homework before heading to</p>
<p class="rating">B+</p>
