This movie makes me  <b>want to</b> free all the  <b>whales</b> in captivity....maybe the movie Free Willy was meant to point this inhumane  <b>whale</b> condition out. I have been to  <a class="wiki" href="http://en.wikipedia.org/wiki/SeaWorld" cat="parks	dispute">Sea World</a>  and it was an unforgettable moment, but if my parents really wanted me to see whales, they should have taken us to the open seas on a  <b>boat tour</b> and shown them to us there, in their natural habitat.
