By the end of this movie I was on the edge of my seat unsure of exactly what I was feeling.   <a class="wiki" href="http://en.wikipedia.org/wiki/Rage_(band)" cat="group	participant">Rage</a> ?  Love?  Relief?  All I know is I <b>'m</b> headed to  <a class="wiki" href="http://en.wikipedia.org/wiki/District_13" cat="film">District 13</a>  to join the Rebellion.
