I am a  <b>big fan</b> of  <a class="wiki" href="http://en.wikipedia.org/wiki/Jennifer_Lawrence" cat="person	actor">Jennifer Lawrence</a>  she is a good  <b>actor</b> she is my favorite and ireccomendd buying this movie because it is really good i just cant wait for the next one. I love the  <b>hunger games</b> favorite movie go katniss.
