 <a class="wiki" href="http://en.wikipedia.org/wiki/The_Movie" cat="episode">THE MOVIE</a>  WAS REALLY GOOD. THE  <a class="wiki" href="http://en.wikipedia.org/wiki/Special_effect" cat="effects	technique">SPECIAL EFFECTS</a>  AND  <a class="wiki" href="http://en.wikipedia.org/wiki/Acting" cat="">ACTING</a>  WAS RIGHT ON. YOU STAY WITH THE STORY.  ME, I BECAME A PART OF THE STORY. IT IS WORHT WATCHING.
