I have never been convinced that these movies have been  <a class="wiki" href="http://en.wikipedia.org/wiki/Jennifer_Lawrence" cat="person	actor">Jennifer Lawrence</a> 's best vehicles. Too moody and tight-lipped. The  <b>sequel</b> story is a worthy follow-up but the fantastical  <b>quotient</b> has gone up dramatically which makes the surrounding environment more difficult to  <b>swallow</b>. All-in-all a modest  <b>sequel</b> to a very creative original. Oh, the CGI was top rate otherwise the writing trips up here and there.
