Continues the story all the characters are there, but the sub-plot leaves you hanging like a  <b>season finale</b> in a  <a class="wiki" href="http://en.wikipedia.org/wiki/Television_program" cat="">TV series</a> .  If you were to just see this film it wouldn't stand on its own.  At least the first one brought the events for the chapter to a suitable end.
