I found the movie enjoyable, and liked it more than I liked the first movie.   <a class="wiki" href="http://en.wikipedia.org/wiki/Characterisation" cat="character">Character development</a>  is mediocre, better action sequences, and less  <b>linear</b> plot lines.  I felt there was more depth with this movie, even if the character development seemed shallow.  I felt the same way with the books.
