 <a class="wiki" href="http://en.wikipedia.org/wiki/I_Love" cat="song	singles">I LOVE</a>  IT I JUST  <a class="wiki" href="http://en.wikipedia.org/wiki/HATE" cat="">HATE</a>  IT WHEN THEY LEAVE YOU AT THE END WITH NO ANWERS. JUST LIKE TWLIGHT DID.
