 <a class="wiki" href="http://en.wikipedia.org/wiki/Big_Fan" cat="film">Big fan</a>  of the first and rented on release day.  The story started slowly, but that's to be expected in a movie that's over two hours long.  The acting is of course  <b>superb</b>, and the story line is wonderful.  The only reason I gave it four stars  and not five is because I was peeved at the abrupt ending lol.
