This movie, like its predecessor, tries hard to preserve the feel and as much of the plot as possible from the book.  It does a  <b>pretty good</b> job.  The acting and  <b>special effects</b> are good and there is a lot of intensity throughout.  The main beefs I have with it have to do with the plot and they are just as they are in the book, so what are you going to do?  I was happy to purchase this  <b>film</b> and I'm sure I will watch it a few times.  Any weaknesses you find with it are pretty much taken from the book.
