good  <b>sequel</b>. Very close to the book. We all love the characters and the story itself. What's next for  <a class="wiki" href="http://en.wikipedia.org/wiki/Sagittaria" cat="vegetable">Katniss</a>  and Peeta?  Ready for #3!!!
