Just as I expected, liked the new movie.  <a class="wiki" href="http://en.wikipedia.org/wiki/Fry's_Electronics" cat="company">Great quality</a>  and resolution just what I was  <b>looking</b> for, felt like I was watching it in then  <b>movie theater</b>.
