Exciting futuristic rebellion.  <a class="wiki" href="http://en.wikipedia.org/wiki/Kinda_(Doctor_Who)" cat="serial	episode">Kinda</a>  a big picture made for the masses.  <a class="wiki" href="http://en.wikipedia.org/wiki/Disappointment" cat="">Disappoints</a>  by being dumbed down like Tron but entertaining non the less.
