The second installment of  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">Hunger Games</a> , it's once again time for the reaping. In  <b>hopes</b> of squashing Catniss' growing popularity with the districts, the president is once again sending Catniss and  <a class="wiki" href="http://en.wikipedia.org/wiki/Peta,_Greece" cat="place">Peta</a>  to battle against one another. Of course, this time around each competitor knows who the true enemy is. Loved this movie. It's action-packed and heartbreaking.
