 <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">The Hunger Game</a>  movies are generally very true to the books and perfectly cast.  Unlike other popular books-to-movies (the  <a class="wiki" href="http://en.wikipedia.org/wiki/Twilight_(novel)" cat="novel">Twilight</a>  &  <a class="wiki" href="http://en.wikipedia.org/wiki/Percy_Jackson_(character)" cat="">Percy Jackson</a>  series)- you can love watching the movie as much as you loved reading the books!
