Although not as in depth as the book, this second book in the  <b>trilogy</b> was captivating.  The ending left the viewer wanting more!In my opinion the third book,  <a class="wiki" href="http://en.wikipedia.org/wiki/Mockingjay" cat="novel	game">Mockingjay</a> ,  is the best of the three and am eagerly awaiting the movie.Purchasing this movie on amazon instant download will be a treat!
