This is the  <b>best movie</b> in the series yet.  Great  <b>special effects</b> and action.  Follows the book closely.  Can hardly wait for Mockingjay.  Worth the money and the time it takes to watch it.
