Loved this movie - I didn't know I got 1  <a class="wiki" href="http://en.wikipedia.org/wiki/DVD" cat="electronics	medium	venture	introduction">DVD</a> , 2 blue Ray  <a class="wiki" href="http://en.wikipedia.org/wiki/DVD" cat="electronics	medium	venture	introduction">DVD</a>  and the digital copy - so that was a nice surprise!!
