This second in the  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">Hunger Games</a>  series is the  <b>best one</b> so far - just like in the novels, but be prepared for an abrupt cliffhanger ending.
