The movie follows the book so well! Jennifer is a great  <b>actress</b> and no one could do  <a class="wiki" href="http://en.wikipedia.org/wiki/Sagittaria" cat="vegetable">Katniss</a>  better! Can't wait for Mockingjay!!
