I have read all three books quite a while ago and look forward to watching the movie. It follows the plots in the book very closely.  The movie is exciting to watch and the  <b>cinematography</b> is spectacular. I am  <b>definitely</b>  <b>looking</b> forward to watch the next sequel. If you have read all three books and enjoy it, you will love this movie too.
