It was great. Film stayed true to the book. Can't wait for the next  <b>film</b> .  <a class="wiki" href="http://en.wikipedia.org/wiki/Jennifer_Lawrence" cat="person	actor">Jennifer Lawrence</a>  is katniss!!
