However, considering that the studio is using the  <b>film</b> to push and build awareness for its other  <b>dystopian</b>  <b>young adult</b>  <b>film series</b>  <a class="wiki" href="http://en.wikipedia.org/wiki/Divergent" cat="">Divergent</a> , it's seems likely that The Hunger Games: Catching Fire will be released shortly before Divergent drops on March 21, 2014.
