I admit upfront I am totally biased. I love  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games_trilogy" cat="game	trilogy">the Hunger Games trilogy</a>  and this is my favorite book and movie. This is a wonderful book adaptation, and I loved that I got the  <b>dvd</b> and the  <a class="wiki" href="http://en.wikipedia.org/wiki/Ultraviolet" cat="move">uV</a>   <b>digital</b> copy. It was a bit of a  <b>pain</b> setting up the  <b>digital</b> copy, but I love having access to the movie and the extras without needing the DVD.Excellent movie and great price.
