 <a class="wiki" href="http://en.wikipedia.org/wiki/Jennifer_Lawrence" cat="person	actor">JLaw</a>  is a wonderful  <b>actress</b> and the movie was well done but it just seemed like a prelude to future movies...which I will also watch.
