 <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">The HUNGER GAMES</a>  is awesome but catching fire is betterI LOVE  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">THE HUNGER GAMES</a> !!!!! <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">THE HUNGER GAMES</a>  IS AWESOME
