I read the books and couldn't wait for the movie to come out. As is with every book that is turned into a movie, I find I enjoy the books more. The format of cinema doesn't allow for the same depth of  <b>character development</b>. That's not the fault of the  <b>movie industry</b> that's just the way it is. So this movie was just what I expected it to be, a lovely well done performance of a good book. If you  <b>want to</b> understand the true depth of emotion and the complexity of this story then read the book then enjoy watching this movie with this knowledge.
