The books are always better, but this movie was pretty well done.  <a class="wiki" href="http://en.wikipedia.org/wiki/Donald_Sutherland" cat="winner	actor	activist	person	officer">Donald Sutherland</a> ,  <a class="wiki" href="http://en.wikipedia.org/wiki/Philip_Seymour_Hoffman" cat="actor	person	winner	director	alumnus">Phillip Seymour Hoffman</a>  and  <a class="wiki" href="http://en.wikipedia.org/wiki/Woody_Harrelson" cat="activist	vegan	person	actor	alumnus	winner">Woody Harrelson</a>  did an excellent job in their respective roles. I <b>'m</b> looking forward to the next one.
