Not talking about the movie, but will talk about the quality,  I paid for  <a class="wiki" href="http://en.wikipedia.org/wiki/High-definition_video" cat="electronics">HD quality</a>  and got SD quality not getting  <b>renting</b> HD quality any more since its pointless.The movie was great. i liked it
