I love  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games_trilogy" cat="game	trilogy">the Hunger Games Trilogy</a> .  <a class="wiki" href="http://en.wikipedia.org/wiki/Jennifer_Lawrence" cat="person	actor">Jennifer Lawrence</a>  and Josh Hutcherson do an excellent job portraying their characters. Can't wait for the third one to come out!
