This movie was the perfect emotional  <b>roller coaster</b> ride to set us up for the powerful conclusion to  <a class="wiki" href="http://en.wikipedia.org/wiki/The_Hunger_Games" cat="game	novel">the Hunger Games</a> . It followed the book very well and gave just enough insight into the characters to make us care about them or hate them.
